extends ../layout

block content

    fieldset
        legend All Users
        button.btn.btn-info(onclick="window.location.href='/add_user'") Add New User
        table.table.table-responsive.table-striped
            thead
                tr
                    th #
                    th Full Name
                    th Father name
                    th age
                    th Action
            tbody
                each p in records
                  tr
                     td=p._id
                     td=p.fullname
                     td=p.fathername
                     td=p.age
                     td
                        a(href="/edit/#{p._id}") Edit
                        a(href="/view/#{p._id}") View
                        a(href="/delete/#{p._id}") Delete
