extends ../layout

block content

    fieldset
        legend All Users
        button.btn.btn-info(onclick="window.location.href='/add_user'") Add New User
        table.table.table-responsive.table-striped
            thead
                tr
                    th #
                    th Full Name
                    th Father name
                    th age
                    th Action
            tbody
                each p in records
                  tr
                     td=p._id
                     td=p.fullname
                     td=p.fathername
                     td=p.age
                     td
                        a(href="/edit_user/#{p._id}", alt="Edit").btn
                            i.glyphicon.glyphicon-edit
                        a(href="/view_user/#{p._id}", alt="View").btn
                            i.glyphicon.glyphicon-expand
                        a(href="/delete_user/#{p._id}",alt="Remove").btn
                            i.glyphicon.glyphicon-remove-circle
