extends ../layout

block content
    fieldset
        lenged
            h2 User Details
        .well.well-sm
            table.table.table-responsive.table-striped.view_details
                tr
                    th First Name
                    td=data.fullname
                tr
                    th Father Name
                    td=data.fathername
                tr
                    th Email
                    td=data.email
                tr
                    th User Name
                    td=data.username
                tr
                    th Password
                    td
                        a(href="/change_password") Change your password
                tr
                    th Age
                    td=data.age
                tr
                    th Other
                    td=data.other


        a(href="#", id="new_size").btn.btn-success Add New Measurement

        .add-size(style="display: none").well.well-sm
            h4 Add New Information
            form(action="/new_size", method="post")
                table.table.table-responsive.table-striped
                    tr
                        th Neck
                        td
                            - var n=10
                            select(name="neck",id="neck")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                        th Shoulder
                        td
                            - var n=10
                            select(id="shoulder", name="shoulder")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                        th Chest
                        td
                            - var n=10
                            select(name="chest",id="chest")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                    tr
                        th Right Arm
                        td
                            - var n=10
                            select(name="right_arm",id="right_arm")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                        th Left Arm
                        td
                            - var n=10
                            select(id="left_arm", name="left_arm")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                        th Waist
                        td
                            - var n=10
                            select(name="waist",id="waist")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                    tr
                        th Hips
                        td
                            - var n=10
                            select(name="hips",id="hips")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                        th Right Thigh
                        td
                            - var n=10
                            select(id="right_thigh", name="righ_thigh")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                        th Left Thigh
                        td
                            - var n=10
                            select(name="left_thigh",id="left_thigh")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                    tr
                        th Right Calf
                        td
                            - var n=10
                            select(name="right_calf",id="right_calf")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                        th Left Calf
                        td(colspan="3")
                            - var n=10
                            select(id="left_calf", name="left_calf")
                                option(value="0") Select an option
                                while n < 100
                                    option= n++
                    tr
                        td(colspan="6")
                            a.btn.btn-danger.discard.pull-right Cancel
                            input(type="hidden", name="_creator",value=data._id)
                            button(type="submit").btn.btn-success Add
        h4 Body Information List
        table.table-responsive.table-striped.table.center
            thead
                tr
                    th Neck
                    th Shoulder
                    th Right Arm
                    th Left Arm
                    th chest
                    th Waist
                    th Hips
                    th Right Thigh
                    th Left Thigh
                    th Right Calf
                    th Left Calf
                    th Action
                each p in data.sizes
                    tr(id="tr_"+p._id)
                        td=p.neck
                        td=p.shoulder
                        td=p.right_arm
                        td=p.left_arm
                        td=p.chest
                        td=p.waist
                        td=p.hips
                        td=p.righ_thigh
                        td=p.left_thigh
                        td=p.right_calf
                        td=p.left_calf
                        td
                            a.btn.btn-success(href="#assign_workout", class="Assign_workout", id=p._id) Assign Workout

